$pink:#e52e71;
$light_dark:#747474;
$dark:#0c0c0c;
$white:#fff;
$box_cl:#f5e5ed;
$oleo_font: 'Oleo Script', cursive;
$open_font:'Open Sans', sans-serif;
$Oswald:'Oswald', sans-serif;
$geat_font:'Great Vibes', cursive;