@import "../variable/color";
@import "../variable/heading1";
@import "../variable/paragraph";
@import "../mixin/mixin";
#brand_part{
    padding-top: 100px;
    padding-bottom: 100px;
    .heading{
        @include heading;
    }
    .Brand_item_flex{
        display: flex;
        justify-content: space-between;
        .brand_item{
            width: 25%;
        }
    }
}